.orden-container {
  padding: 20px;
  background: #e2e1df;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 600px;
}

.orden-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.pdf-viewer {
  width: 100%;
  height: 530px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.file-input-container {
  margin-left: auto; /* Empuja el botón al extremo derecho */
}

.custom-file-input {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.hidden-input {
  display: none;
}