<div class="orden-container">
  <h2 class="titulo">Orden semanal</h2>
  <div class="file-input-container">
    <label for="pdf-upload" class="file-label">
      Seleccionar PDF
      <input 
        id="pdf-upload"
        type="file" 
        accept="application/pdf" 
        (change)="onFileSelected($event)"
        class="file-input">
    </label>
  </div>
  
  <div class="pdf-viewer" *ngIf="pdfUrl">
    <iframe 
      [src]="pdfUrl" 
      frameborder="0" 
      width="100%"
      height="350px">
    </iframe>
  </div>
</div>